.wrapper-login-div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background: rgb(39, 111, 117);
  background: linear-gradient(
    90deg,
    rgb(46 40 94) 100%,
    rgb(49, 190, 200) 100%
  );
}
