.wrapper-login-div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background: rgb(39, 111, 117);
  background: linear-gradient(
    90deg,
    rgba(39, 111, 117, 1) 100%,
    rgba(49, 190, 200, 1) 100%

  );
}
