.div-login-form {
  width: 55%;
  margin: 0 auto;
  margin-bottom: 10px;

  border: 8px ridge #03222e;
  border-radius: 10px;
  background: rgb(176, 227, 231);
  background: linear-gradient(90deg, rgb(0 0 0) 100%, rgb(49, 190, 200) 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 100%;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
    }
    input {
      margin-top: 15px;
      padding: 5px;
    }
    h1 {
      color: #fff;
      text-align: center;
    }
  }
}
