.div-WrapperReservation {
  flex-grow: 1;
  background: linear-gradient(90deg, rgb(46 40 94), rgb(49, 190, 200));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  h3 {
    padding: 10px 0;
  }
  .tour-title {
    padding: 10px 0;
    span {
      color: red;
    }
  }

  section {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(176, 227, 231);
    background: linear-gradient(90deg, rgb(0 0 0) 100%, rgb(49, 190, 200) 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    span {
      color: red;
    }
    h4 {
      padding: 10px 0;
    }
    h6 {
      padding: 5px 0;
    }

    label {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      color: #000000;
      margin-top: 5px;
      padding: 5px;
      cursor: pointer;
      input[type="radio"] {
        accent-color: #03222e;
      }
    }
  }
}
.form-field {
  padding: 2px;
}
.error-handle {
  font-size: 12px;
  color: red;
}
.submit-btn {
  margin-top: 10px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(31, 30, 142, 1) 100%
  );
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.joke {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  margin-top: 0 !important;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgb(0, 0, 0) 100%
  );
}

.dateWrapper{
  overflow: hidden;
  width: 100%;
  padding-inline: 20%;
  div{
    padding: 7px;
    overflow-x: scroll;
    white-space: nowrap;
    button {
    margin-inline: 2px;
    padding: 1px 2px;
    text-transform: uppercase;
    background-color: rgb(46 40 94);
    color: rgb(49, 190, 200);
    border: none;
  }
  .selected{
    background-color: rgb(49 190 200);
    color: rgb(46 40 94);
    font-weight: bold;
    
  }
  p{
    text-align: center;
    font-size: 0.8em;
  }
}
}

.time-picker {
  list-style-type: none;
}

.time-picker-option {
  margin: 5px 0;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  &.selected {
    background-color: rgb(49 190 200);
    color: rgb(46 40 94);
    font-weight: bold;
  }
  &.disabled {
    cursor: default;
    color: rgb(202, 201, 201);
    text-decoration: line-through;
  }
  &.notSelected {
    background-color: black;
    font-weight: normal;
  }
}
